---
import { CollectionEntry, getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import BlogPost from '../../components/BlogPost.astro';

const posts = await getCollection('posts');

type Props = CollectionEntry<'posts'>;

const { slug } = Astro.params;

const post = posts.find((page) => page.slug === slug);
if (!post)
  return Astro.redirect('/404');

const { Content, headings } = await post.render()

---

<html lang="en">
  <head>
    <BaseHead title={post.data.title} description={post.data.description} />
  </head>

  <body>
    <Header />
    <main class="no-padding">
      <BlogPost {...post.data} headings={headings}>
        <Content />
      </BlogPost>
    </main>
    <Footer />
  </body>
</html>
