@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

:root {
  --color-body-fg:  #dce4f1;
  --color-body-bg:  #262626;
  --color-panel-bg: #212121;
  --color-embed-fg: #edf2fb;
  --color-embed-bg: #383838;
  --color-embed-border: #454545;

  --color-muted-fg:    #8d9298;
  --color-muted-2x-fg: #6A6E73;

  --color-info-fg:  #599eff;
  --color-warning-fg:  #e6ad19;

  --color-footer-bg: #101010;
  --color-footer-fg: var(--color-body-fg);

  --color-link-fg: #599eff;
  --color-selection-bg: rgba(89, 158, 255, 0.2);

  --color-button-bg: #626262;

  --color-border: #2d2d2d;

  --transition: 0.2s ease;

  color-scheme: dark;
}

/*
 * Reset
 */

* {
  box-sizing: border-box;
}

body,
p,
.then {
  margin: 0;
  padding: 0;
}

/*
 * Typography
 */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5rem 0;
  line-height: 1.2;
  font-weight: 700;
}
h1 {
  font-size: 3.052em;
}
h2 {
  font-size: 2.3em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
strong, b {
  font-weight: 700;
}
p {
  margin-bottom: 1em;
}

/*
 * Colors
 */

body {
  color: var(--color-body-fg);
  background-color: var(--color-body-bg);
}
h1, h2, h3, h4, h5, h6 {
  /* color: var(--header-color); */
}

::selection {
  background: var(--color-selection-bg);
}
::-moz-selection {
  background: var(--color-selection-bg);
}

a {
  color: var(--color-link-fg);
}
a:hover {
  color: var(--color-link-fg);
}

.text-warning {
  color: var(--color-warning-fg);
}

/*
 * Layout
 */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  flex: 0 0 auto;
}
main {
  flex: 1;
}
footer {
  flex: 0 0 auto;
}


header, main, footer {
  --content-width: 800px;

  padding-left:  calc(max(1rem, (100vw - var(--content-width)) / 2));
  padding-right: calc(max(1rem, (100vw - var(--content-width)) / 2));
}
@media (max-width: 820px) {
  header, main, footer {
    --content-width: 500px;
  }
}

main {
  padding-top:    3rem;
  padding-bottom: 3rem;
}
@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding-top:    1rem;
    padding-bottom: 1rem;
  }
}


table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}


.row {
  display: flex;
  flex-direction: row;
}
.row > * {
  flex: 1;
}
.row > *:not(:last-child) {
  margin-right: var(--gap, 0);
}

.gap-1 { --gap: 1rem; }
.gap-2 { --gap: 2rem; }
.gap-3 { --gap: 3rem; }
.gap-4 { --gap: 4rem; }
.gap-5 { --gap: 5rem; }

.mb-1 {
  margin-bottom: 1rem;
}

/*
 * Elements
 */

button {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-button-bg);
}
button:focus,
button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
button:active {
  background-color: rgba(255, 255, 255, 0.15);
}

button.sm {
  font-size: 0.8rem;
}

.modal-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 200px;
  min-height: 200px;
  max-width: 80vw;
  max-height: 80vw;
  padding: 1rem;
  background-color: var(--color-embed-bg);
  border-radius: 8px;
  border: 1px solid var(--color-embed-border);
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.2);
  overflow: auto;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal h2 {
  font-size: 1.3rem;
}
.modal p {
  font-size: 1.0rem;
}
.modal pre {
  font-size: 0.85rem;
  background-color: var(--color-panel-bg);
  border: 1px solid var(--color-border);
  border-radius: 4px;
  padding: 1rem;
}

.note {
  border-radius: 6px;
  padding: 1em 1em;
}
.note > * {
  margin: 0;
}
.note--info {
  border: 1px solid var(--color-info-fg);
  background: color-mix(in srgb, var(--color-info-fg) 10%, transparent);
}

/*
 * Posts
 */

article h2 {
  font-size:     2.3rem;
  margin-top:    3.0rem;
  margin-bottom: 1.5rem;
}
article h3 {
  font-size:     1.6rem;
  margin-top:    2.0rem;
  margin-bottom: 1.5rem;
}
article h4 {
  font-size:     1.2rem;
  margin-top:    2.0rem;
  margin-bottom: 1.5rem;
}
article p {
  margin-bottom: 2rem;
}
article mark {
  color: unset;
  background-color: transparent;
  border-bottom: 1px dashed var(--color-muted-fg);
}


code {
  padding: 0.10rem 0.35rem;
  color: var(--color-embed-fg);
  background-color: var(--color-embed-bg);
  border-radius: 4px;
  font-size: 1.05rem;
}

.astro-code {
  padding: 1rem;

  font-size: 1rem;
  line-height: 1.5;

  border-radius: 5px;
  border: 1px solid var(--color-border);
  background-color: var(--color-panel-bg) !important;
}
.astro-code > code {
  all: unset;
}

blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}

hr {
  border: none;
  border-top: 2px solid var(--color-border);
}

/*
 * Conditional styles
 */

.if-firefox {
  display: none;
}
@supports (-moz-appearance: none){
  .if-firefox {
    display: unset;
  }
}
