:root {
  --color-panel-bg: #212121;
  --color-body-bg:  #262626;
  --color-body-fg:  #dce4f1;

  --color-footer-bg: #101010;
  --color-footer-fg: var(--color-body-fg);

  --color-border: #2d2d2d;

  --accent: #2337ff;
  --accent-dark: #000d8a;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

/*
 * Typography
 */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5rem 0;
  line-height: 1.2;
  font-weight: 700;
}
h1 {
  font-size: 3.052em;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--accent);
}
a:hover {
  color: var(--accent);
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}

/*
 * Colors
 */

body {
  color: var(--color-body-fg);
  background-color: var(--color-body-bg);
}
h1, h2, h3, h4, h5, h6 {
  /* color: var(--header-color); */
}

/*
 * Reset
 */

body {
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/*
 * Layout
 */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  flex: 0 0 auto;
}
main {
  flex: 1;
}
footer {
  flex: 0 0 auto;
}


header, main, footer {
  --content-width: 720px;

  padding-left:  calc((100vw - var(--content-width)) / 2);
  padding-right: calc((100vw - var(--content-width)) / 2);
}
@media (max-width: 720px) {
  header, main, footer {
    --content-width: 500px;
  }
}

main {
  padding-top: 3em;
  padding-bottom: 3em;
}

table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid var(--color-border);
}
@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}
