:root {
  --color-panel-bg: #212121;
  --color-body-bg:  #262626;
  --color-body-fg:  #dce4f1;

  --color-muted-fg:    #8d9298;
  --color-muted-2x-fg: #6A6E73;

  --color-footer-bg: #101010;
  --color-footer-fg: var(--color-body-fg);

  --color-link-fg: #599eff;
  --color-selection-bg: rgba(89, 158, 255, 0.2);

  --color-border: #2d2d2d;

  --transition: 0.2s ease;

  color-scheme: dark;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

/*
 * Reset
 */

body,
p,
.then {
  margin: 0;
  padding: 0;
}

/*
 * Typography
 */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5rem 0;
  line-height: 1.2;
  font-weight: 700;
}
h1 {
  font-size: 3.052em;
}
h2 {
  font-size: 2.3em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
strong, b {
  font-weight: 700;
}
p {
  margin-bottom: 1em;
}

article h2 {
  margin-bottom: 1.5rem;
}
article p {
  margin-bottom: 2rem;
}

/*
 * Colors
 */

body {
  color: var(--color-body-fg);
  background-color: var(--color-body-bg);
}
h1, h2, h3, h4, h5, h6 {
  /* color: var(--header-color); */
}

::selection {
  background: var(--color-selection-bg);
}
::-moz-selection {
  background: var(--color-selection-bg);
}

a {
  color: var(--color-link-fg);
}
a:hover {
  color: var(--color-link-fg);
}

/*
 * Layout
 */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  flex: 0 0 auto;
}
main {
  flex: 1;
}
footer {
  flex: 0 0 auto;
}


header, main, footer {
  --content-width: 800px;

  padding-left:  calc((100vw - var(--content-width)) / 2);
  padding-right: calc((100vw - var(--content-width)) / 2);
}
@media (max-width: 820px) {
  header, main, footer {
    --content-width: 500px;
  }
}

main {
  padding-top:    3rem;
  padding-bottom: 3rem;
}


table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 2px solid var(--color-border);
}
@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}
