---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="About Me"
  description="Empty about-me page"
  pubDate={new Date('August 08 2021')}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    Empty page.
  </p>
</Layout>
