---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <Header />
    <main>
      <img src="/castle.jpg" />
      <br />
      <br />
      <p>
        "The Castle" is a painting by Herman Wenng painted in 1930. I don't know anything about Herman, but I love this painting very much. As it is basically gone from the public internet, I share it here in the hopes that the image survives. It is for me a symbol of nirvana, spiritual enlightenment, God, or whatever other name you give to That.
      </p>
    </main>
    <Footer />
  </body>
</html>
