---
import { Icon } from 'astro-icon/components'
const { type = 'info', title, small } = Astro.props;
---
<style is:global>
.aside {
  @apply p-4;
  @apply rounded-lg;
  @apply border;
  @apply border-neutral-500;
  @apply bg-neutral-300/5;
  margin-bottom: 2rem;
}
.aside h6 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.aside h6 {
  @apply text-neutral-400;
}
.aside svg {
  @apply mr-4;
}
.aside p,
.aside pre {
  margin-bottom: 1rem;
}
.aside p:last-child,
.aside pre:last-child {
  margin: 0;
}
.aside-small {
  @apply text-sm;
}
.aside-small svg {
  @apply mr-2;
}
</style>

<aside class={`aside aside-${type} ` + (small ? 'aside-small' : '')}>
  <h6><Icon name='octicon:info-16' /><span>{title}</span></h6>
  <slot />
</aside>
