---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from './FormattedDate.astro';

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<style>
  .post-header {
    text-align: center;
    line-height: 1;
    margin-bottom: 2em;
  }
  .post-title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .post-date {
    color: var(--color-muted-2x-fg);
    font-size: 1.1rem;
    margin-bottom: 1em;
  }
</style>

<article class="post">
  <div class="post-header">
    <div class="post-date">
      <FormattedDate date={pubDate} />
      {
        updatedDate && (
          <div class="last-updated-on">
            Last updated on <FormattedDate date={updatedDate} />
          </div>
        )
      }
    </div>
    <h1 class="post-title">{title}</h1>

    <hr />
  </div>

  <!-- <CONTENT> -->
  <slot />
  <!-- </CONTENT> -->

</article>
