---
const today = new Date();
---

<footer class="footer">
	<div class="footer-dedication">
		<i>I dedicate this blog to the public domain.</i>
	</div>


	<div class="footer-links">
    <a href="https://github.com/romgrk" target="_blank">
      <span class="fa fa-github" />
      <span class="sr-only">Github</span>
    </a>
	</div>
</footer>
<style>
	.footer {
		padding-top: 3em;
		padding-bottom: 3em;

		color: var(--color-footer-fg);
		background-color: var(--color-footer-bg);

		text-align: center;
	}

	.footer-dedication {
		opacity: 0.8;
	}

	.footer-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.footer-links a {
		text-decoration: none;
		color: var(--color-body-fg);
		font-size: 1.5em;
	}
</style>
