---
const today = new Date();
---

<footer class="footer">

  <div class="footer-links">
    <a href="https://github.com/romgrk" target="_blank">
      <span class="fa fa-github" />
      <span class="sr-only">Github</span>
    </a>
  </div>

  <div class="footer-dedication">
    <div>I dedicate this blog and anyone who reads this sentence to the public domain.</div>
    <div>What do you mean that's not how licensing works?</div>
  </div>

</footer>

<style>
  .footer {
    padding-top: 3rem;
    padding-bottom: 4rem;

    color: var(--color-footer-fg);
    background-color: var(--color-footer-bg);

    text-align: center;
  }
  .footer > * {
    margin-bottom: 1em;
  }

  .footer-copyleft {
    color: var(--color-muted-2x-fg);
  }

  .footer-dedication {
    display: inline-block;
    color: var(--color-muted-2x-fg);
    font-size: 0.8rem;
    /* text-align: left; */
  }

  .footer-links {
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  .footer-links a {
    text-decoration: none;
    color: var(--color-muted-fg);
    font-size: 1.5em;
  }
</style>
