---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="header">
  <a class="header-title" href="/">
    <span class="inline md:hidden">{SITE_TITLE.charAt(0).toUpperCase()}</span>
    <span class="hidden md:inline">{SITE_TITLE}</span>
  </a>

  <div class="header-links">
    <HeaderLink href="/posts">Posts</HeaderLink>
    <HeaderLink href="/castle">The Castle<span class="hidden md:inline">, by H. Wenng</span></HeaderLink>
  </div>
  <div class="header-fill"></div>
  <a class="header-github" href="https://github.com/romgrk" target="_blank">
    <span class="fa fa-github" />
    <span class="sr-only">Github</span>
  </a>
</header>

<style>
  .header {
    margin: 0;
    display: flex;
    align-items: center;

    background-color: var(--color-panel-bg);
    border-bottom: 2px solid var(--color-border);
  }
  .header a {
    display: inline-block;
    text-decoration: none;
    color: var(--color-body-fg);
    height: 4rem;
    display: flex;
    align-items: center;
    transition: var(--transition);
  }
  .header a:hover {
    color: var(--color-link-fg);
  }

  .header-title {
    font-size: 1.1em;
    font-weight: 700;
    @apply mr-1;
    @apply md:mr-4;
  }

  .header-links {
    display: flex;
    flex-direction: row;
    width: max-content;
  }
  .header-links > a {
    font-size: 0.9em;
    padding-left:  0.75em;
    padding-right: 0.75em;
  }

  .header-fill {
    flex: 1;
  }

  .header-github {
    padding-left:  1em;
    padding-right: 1em;
  }
</style>
