---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<style>
  .post-title {
    margin-bottom: 1em;
    padding: 1em 0;
    text-align: center;
    line-height: 1;
  }
  .post-title h1 {
    margin: 0 0 0.5em 0;
  }
  .post-date {
    margin-bottom: 0.5em;
    color: var(--color-muted-fg);
  }

  .post p {
    margin-bottom: 2em;
  }
  .post h2 {
    margin-bottom: 4rem;
  }
</style>

<article class="post">
  <div class="post-title">
    <div class="post-date">
      <FormattedDate date={pubDate} />
      {
        updatedDate && (
          <div class="last-updated-on">
            Last updated on <FormattedDate date={updatedDate} />
          </div>
        )
      }
    </div>
    <h1>{title}</h1>
    <hr />
  </div>

  <!-- <CONTENT> -->
  <slot />
  <!-- </CONTENT> -->

</article>
